.about-section {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  text-align: center;

  .water-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
  }

  &__me {
    margin-bottom: 25em;
    padding: 0 1em;

    @mixin atExSmall {
      margin-bottom: 22.5em;
    }

    @mixin atMidSmall {
      margin-bottom: 17.5em;
    }

    @mixin atMedium {
      padding: 0 2em;
    }

    @mixin atLarge {
      text-align: left;
      margin-bottom: 0;
      padding: 0;
    }
  }

  &__my-skills {
    .skills {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 0 auto;
      background: #fff;
      padding: 1em;
      margin-top: 2em;
      margin-bottom: 2em;
      border: 1px solid rgba($liteAsh, 0.5);
      box-shadow: 0 5px 10px rgba($liteAsh, 0.5);
      text-align: center;

      @mixin atMidSmall {
        margin: 0 auto;
        margin-top: 2em;
        margin-bottom: 2em;
      }

      @mixin atMedium {
        width: 100%;
        margin: 1em 0;
        flex-direction: column;
        padding-top: 2em;
      }

      &__icon {
        font-size: 3em;
        color: $darkBluish;
      }

      &__desc {
        .heading {
          font-size: 1rem;
          font-weight: 500;
        }
      }
    }

    @mixin atMedium {
      display: grid;
      grid-column-gap: 1.5em;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &__aside {
    background: $mainYellow;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @mixin atMedium {
      padding: 4em 8em;
    }

    @mixin atLarge {
      position: static;
      min-height: 500px;
      margin-right: -4em;
      margin-bottom: -4em;
      padding: 4em;
      text-align: right;
      align-self: end;
    }

    @mixin atExLarge {
      margin-right: -7em;
      padding: 4em 7em;
    }
  }
}
