.about-section {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  text-align: center;

  .water-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
  }

  &__me {
    @mixin atExSmall {
      margin-bottom: 35em;
    }

    @mixin atMidSmall {
      margin-bottom: 30em;
    }

    @mixin atLarge {
      text-align: left;
      margin-bottom: 0;
    }
  }

  &__my-skills {
    .skills {
      width: 100%;
      margin: 0 auto;
      background: #fff;
      padding: 1.5em 3em;
      margin-top: 2em;
      margin-bottom: 2em;
      border: 1px solid rgba($liteAsh, 0.5);
      box-shadow: 0 5px 10px rgba($liteAsh, 0.5);

      @mixin atMidSmall {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 2em;
      }
      @mixin atMedium {
        width: 100%;
        margin: 1em 0;
      }

      &__icon {
        height: 100px;
        margin: 1em;
        display: grid;
        place-content: center;
      }

      &__desc {
        .heading {
          font-size: 1.25rem;
          font-weight: 500;
        }

        .text-body {
          color: $darkAsh;
          margin-top: -0.75em;
        }

        @mixin atLarge {
          text-align: center;
        }
      }
    }

    @mixin atMedium {
      display: grid;
      grid-column-gap: 2em;
      grid-template-columns: 1fr 1fr;
    }
  }

  &__aside {
    padding: 2em;
    background: $mainYellow;
    position: absolute;
    bottom: 0;
    left: 0;

    .values {
      h3 {
        margin: 2em auto;
        text-transform: uppercase;
      }

      p {
        margin-top: -0.75em;
      }
    }

    @mixin atMedium {
      padding: 4em 8em;
    }

    @mixin atLarge {
      position: static;
      min-height: 500px;
      margin-right: -4em;
      margin-bottom: -4em;
      padding: 4em;
      text-align: right;
      align-self: end;
    }

    @mixin atExLarge {
      margin-right: -7em;
    }
  }
}
