.recent-projects {
    max-width: 1920px;
    color: #ffffff;
    background: $darkAsh;
    text-align: center;

    &__project-item {
        margin-bottom: 2em;

        img {
            max-width: 90%;
            margin-top: 2em;
            margin-bottom: 2em;

            @mixin atSmall {
                max-width: 70%;
            }

            @mixin atMedium {
                max-width: 100%;
            }

            @mixin atLarge {
                max-width: 80%;
                margin-bottom: 1em;
            }
        }
    }
}