.site-footer {
    background: #000;
    text-align: center;

    &__content {
        padding: 2em;

        @mixin atMedium {
            padding: 2em 4em;
        }

        @mixin atLarge {
            text-align: right;
        }

        @mixin atExLarge {
            padding: 2em 7em;
        }
    }

    &__design {
        display: none;
    }

    a {
        display: block;
        color: $mainYellow;
        padding: .5rem;
    }
}