.site-footer {
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  margin: 0 auto;
  background: #000;
  text-align: center;
  border-top: 0.1em solid rgb(91, 91, 91);

  @mixin atMedium {
    flex-direction: row;
    text-align: left;
  }

  &__text {
    color: #fff;
  }

  &__social-icons {
    display: block;
    align-self: center;
    justify-self: end;
  }
}
