.wrapper {
    max-width: 1920px;
    padding: 4em 2em;
    margin: 0 auto;

        @mixin atMedium {
            padding: 4em;
        }
    
    &__grid-2-1 {      

        @mixin atLarge {
            display: grid;
            grid-template-columns: 2fr 1fr;
            grid-column-gap: 4em;
        }
    }

    &__grid-1-1 {

        @mixin atMedium {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 2rem;
        }
    }
}
